# Project 2 : Analyzing education data
*Pierre-Eloi Ragetly*

This project is part of the Open-Classrooms Data Scientist path.  
The main objective is to realize an Exploratory Data Analysis (EDA) for a fictive EdTech company called Academy.

Data will be dowloaded from the world bank web site:
https://datacatalog.worldbank.org/dataset/education-statistics

In [1]:
import os
from zipfile import ZipFile
from six.moves import urllib
import pandas as pd

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Collection" data-toc-modified-id="Data-Collection-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Collection</a></span></li><li><span><a href="#Data-loading" data-toc-modified-id="Data-loading-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data loading</a></span></li></ul></div>

## Data Collection

In [5]:
def download_data(url, data_name='data', data_folder='datasets'):
    folder_path=os.path.join(data_folder)
    if not os.path.isdir(folder_path):
        os.makedirs(folder_path)
    data_path = os.path.join(folder_path, data_name + '.zip')
    urllib.request.urlretrieve(url, data_path)
    with ZipFile(data_path, 'r') as data_zip:
        data_zip.extractall(path=folder_path)

In [6]:
url = 'http://databank.worldbank.org/data/download/Edstats_csv.zip'
download_data(url=url)

## Data loading

In [9]:
# main dataset
data = pd.read_csv('datasets/EdStatsData.csv')
print('the table shape is:\n {}'.format(data.shape))

data.head(3)

the table shape is:
 (886930, 70)
3665

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# indicator dataset
data_ind = pd.read_csv('datasets/EdStatsSeries.csv')
print('the number of indicators is {}'.format(data_ind.index.size))
list_ind = data_ind['Topic'].unique().tolist()
print('These indicators are splitted into {} categories: \n'.format(len(list_ind)),\
      list_ind)

the number of indicators is 3665
These indicators are splitted into 37 categories:
 ['Attainment', 'Education Equality', 'Infrastructure: Communications', 'Learning Outcomes', 'Economic Policy & Debt: National accounts: US$ at current prices: Aggregate indicators', 'Economic Policy & Debt: National accounts: US$ at constant 2010 prices: Aggregate indicators', 'Economic Policy & Debt: Purchasing power parity', 'Economic Policy & Debt: National accounts: Atlas GNI & GNI per capita', 'Teachers', 'Education Management Information Systems (SABER)', 'Early Child Development (SABER)', 'Engaging the Private Sector (SABER)', 'School Health and School Feeding (SABER)', 'School Autonomy and Accountability (SABER)', 'School Finance (SABER)', 'Student Assessment (SABER)', 'Teachers (SABER)', 'Tertiary Education (SABER)', 'Workforce Development (SABER)', 'Literacy', 'Background', 'Primary', 'Secondary', 'Tertiary', 'Early Childhood Education', 'Pre-Primary', 'Expenditures', 'Health: Risk factors', 'Health: Mortality', 'Social Protection & Labor: Labor force structure', 'Laber', 'Social Protection & Labor: Unemployment', 'Health: Population: Structure', 'Population', 'Health: Population: Dynamics', 'EMIS', 'Post-Secondary/Non-Tertiary']